.c-container{
    justify-content: space-around;
    gap: 1rem;
    & img{
        width: 9rem;
    }
}
/* สำหรับโทรศัพท์มือถือขนาดเล็ก */
@media (max-width: 576px) {
   .c-container{
    flex-direction: column;
   }
  }
  
  /* สำหรับโทรศัพท์มือถือขนาดกลาง */
  @media (max-width: 768px) {
   
  }
  

  @media (max-width: 963px) {
    
  }